@import 'nib';

@font-face {
  font-family: mecha;
  font-style: normal;
  src: url("../fonts/captain-falcon_mecha/Mecha.ttf");
}

@font-face {
  font-family: mecha-bold;
  font-style: normal;
  src: url("../fonts/captain-falcon_mecha/Mecha_Bold.ttf");
}

body {
  font-family: mecha, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 16px;
  margin: 4px;
  padding: 0;
}

h2 {
  font-family: mecha-bold;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

h3 {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

#game {
  overflow: hidden;
  display: inline-block;
  position: relative;
  border: 1px solid black;
  box-shadow:  0 0 5px 0 rgba(0, 0, 0, 1);
  transition: all 0.02s linear;
}

#game table {
  position: relative;
  transition: all 0.02s linear;
}

.range {
  position: absolute;
  background: orange;
  border-radius: 50%;
  opacity: 0.5;
  border: 2px solid yellow;
}

.bullet {
  transition: all 0.25s linear;
  position: absolute;
  height: 5px;
  width: 5px;
  background: black;
  opacity: 0.9;
  border-radius: 50%;
}

@import "effects";
@import "interface";
@import "badge";
@import "surfaces/grass";
@import "grid";
@import "explosions";
@import "towers";
@import "monsters";
