@import 'nib';

.grass td {
  width: 20px;
  height: 20px;
  background: url('../../images/surfaces/grass/tiles.gif');
}

.grass .accessible, .grass table td.tower {
  background-position: 0 -160px;
}

.grass .left {
  background-position: 0 -40px;
}

.grass .right {
  background-position: -80px -40px;
}

.grass .top {
  background-position: -40px -0;
}

.grass .top-right {
  background-position: -80px 0;
}

.grass .top-right-inner {
  background-position: -80px -120px;
}

.grass .top-left {
  background-position: 0 0;
}

.grass .top-left-inner {
  background-position: -40px -120px;
}

.grass .bottom {
  background-position: -40px -80px;
}

.grass .bottom-left {
  background-position: 0 -80px;
}

.grass .bottom-left-inner {
  background-position: -40px -160px;
}

.grass .bottom-right {
  background-position: -80px -80px;
}

.grass .bottom-right-inner {
  background-position: -80px -160px;
}

.grass .path {
  background-position: -40px -40px;
}

.grass .path.version-1 {
  background-position: -120px -0;
}

.grass .path.version-2 {
  background-position: -120px -40px;
}

.grass .path.version-3 {
  /*background-position: -120px -80px;*/
}

.grass .path.version-4 {
  background-position: -120px -120px;
}

.grass .path.version-5 {
  background-position: -120px -160px;
}

.grass .inaccessible.obstacle-1 {
  background: transparent url('../../images/surfaces/grass/obstacles.gif') no-repeat 0px 0px;
}

.grass .inaccessible.obstacle-2 {
  background: transparent url('../../images/surfaces/grass/obstacles.gif') no-repeat -40px 0px;
}

.grass .inaccessible.obstacle-3 {
  background: transparent url('../../images/surfaces/grass/obstacles.gif') no-repeat -80px 0px;
}

.grass .inaccessible.obstacle-3 {
  background: transparent url('../../images/surfaces/grass/obstacles.gif') no-repeat -80px 0px;
}

.grass .inaccessible.obstacle-4-1 {
  background: url('../../images/surfaces/grass/obstacles-2.gif') no-repeat 0px -140px, url('../../images/surfaces/grass/tiles.gif') no-repeat 0 -160px;
}

.grass .inaccessible.obstacle-4-2 {
  background: transparent url('../../images/surfaces/grass/obstacles-2.gif') no-repeat 0px -160px;
}

.grass .inaccessible.obstacle-5-1 {
  background: url('../../images/surfaces/grass/obstacles-2.gif') no-repeat 0px -100px, url('../../images/surfaces/grass/tiles.gif') no-repeat 0 -160px;
}

.grass .inaccessible.obstacle-5-2 {
  background: transparent url('../../images/surfaces/grass/obstacles-2.gif') no-repeat 0px -120px;
}

.grass .inaccessible.obstacle-6-1 {
  background: transparent url('../../images/surfaces/grass/obstacles-2.gif') no-repeat 0px 0px;
}

.grass .inaccessible.obstacle-6-2 {
  background: transparent url('../../images/surfaces/grass/obstacles-2.gif') no-repeat -40px 0px;
}

.grass .inaccessible.obstacle-6-3 {
  background: transparent url('../../images/surfaces/grass/obstacles-2.gif') no-repeat -80px 0px;
}

.grass .inaccessible.obstacle-6-4 {
  background: transparent url('../../images/surfaces/grass/obstacles-2.gif') no-repeat 0px -40px;
}

.grass .inaccessible.obstacle-6-5 {
  background: transparent url('../../images/surfaces/grass/obstacles-2.gif') no-repeat -40px -40px;
}

.grass .inaccessible.obstacle-6-6 {
  background: transparent url('../../images/surfaces/grass/obstacles-2.gif') no-repeat -80px -40px;
}

.grass .inaccessible.obstacle-6-7 {
  background: transparent url('../../images/surfaces/grass/obstacles-2.gif') no-repeat 0px -80px;
}

.grass .inaccessible.obstacle-6-8 {
  background: transparent url('../../images/surfaces/grass/obstacles-2.gif') no-repeat -40px -80px;
}

.grass .inaccessible.obstacle-6-9 {
  background: transparent url('../../images/surfaces/grass/obstacles-2.gif') no-repeat -80px -80px;
}

.grass .selected > div:after {
  content: '';
  height: 18px;
  width: 18px;
  display: block;
  background: rgba(255, 240, 80, 0.3);
  border: 1px solid rgba(255, 240, 80, 0.5);
  position: absolute;
}

.grass td:not(.selected):not(.tower):hover > div:after {
  content: '';
  height: 18px;
  width: 18px;
  display: block;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
