table {
  border-collapse: collapse;
}

table td {
  padding: 0;
}

table td > div {
  height: 20px;
  width: 20px;
  position: relative;
}

table .monster:after {
  content: '';
  display: block;
}

table .monster:after {
  background: url('../images/monsters/mech-heavy.gif') no-repeat 4px 5px;
}

table .beast:after {
  background: url('../images/monsters/beast.gif') no-repeat 4px 9px;
}

table .scout-lite:after {
  background: url('../images/monsters/scout-lite.gif') no-repeat 6px 10px;
}

table .scout-mid:after {
  background: url('../images/monsters/scout-mid.gif') no-repeat 4px 9px;
}

table .scout-heavy:after {
  background: url('../images/monsters/scout-heavy.gif') no-repeat 4px 7px;
}

table .amphibian-lite:after {
  background: url('../images/monsters/amphibian-lite.gif') no-repeat;
}

table .tank-lite:after {
  background: url('../images/monsters/tank-lite.gif') no-repeat 3px 8px;
}

table .tank-lite-2:after {
  background: url('../images/monsters/tank-lite-2.gif') no-repeat 3px 7px;
}

table .tank-mid:after {
  background: url('../images/monsters/tank-mid.gif') no-repeat 3px 7px;
}

table .tank-laser:after {
  background: url('../images/monsters/tank-laser.gif') no-repeat 3px 7px;
}

table .tank-heavy:after {
  background: url('../images/monsters/tank-heavy.gif') no-repeat 4px 6px;
}

table .mech-lite:after {
  background: url('../images/monsters/mech-lite.gif') no-repeat 3px 4px;
}

table .mech-mid:after {
  background: url('../images/monsters/mech-mid.gif') no-repeat 4px 6px;
}

.giant.airship {
  position: absolute;
  top: 50%;
  margin-top: -60px;
  left: -260px;
  transition: all 120s linear;

  width: 256px;
  height: 100px;
  background: rgba(0, 0, 0, 0.4);
  display: block;
  border-radius: 281px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
}

.giant.airship:after {
  content: '';
  background: url('/images/monsters/airship-giant.gif');
  display: block;
  width: 260px;
  height: 127px;
  position: relative;
  top: -36px;
  left: -16px;
}
