body {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 12px;
  margin: 4px;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  box-shadow:  0 0 5px 0 rgba(0, 0, 0, 1);
}

#meta-data {
  background: black;
  box-shadow:  0 0 5px 0 rgba(0, 0, 0, 1);
  color: white;
  padding: 5px;
}

#meta-data span {
  padding: 0 5px;
}

#meta-data span:not(:last-child) {
  border-right: 1px solid white;
}

#force-next-wave {
  cursor: pointer;
}

#force-next-wave.disabled {
  cursor: not-allowed;
  color: #aaa;
}

table td {
  padding: 0;
  position: relative;
}

table td, table td:after {
  height: 28px;
  width: 24px;
}

table .inaccessable, table .tower {
  background: url('../images/surfaces/ice.gif');
}

table .path, table .monster {
  background: url('../images/surfaces/path.gif') no-repeat;
}

table .tower:after, table .monster:after {
  content: '';
  display: block;
}

table .monster:after {
  background: url('../images/monsters/mech-heavy.gif') no-repeat 4px 5px;
}

table .beast:after {
  background: url('../images/monsters/beast.gif') no-repeat 4px 9px;
}

table .scout-lite:after {
  background: url('../images/monsters/scout-lite.gif') no-repeat 6px 10px;
}

table .scout-mid:after {
  background: url('../images/monsters/scout-mid.gif') no-repeat 4px 9px;
}

table .scout-heavy:after {
  background: url('../images/monsters/scout-heavy.gif') no-repeat 4px 7px;
}

table .amphibian-lite:after {
  background: url('../images/monsters/amphibian-lite.gif') no-repeat;
}

table .tank-lite:after {
  background: url('../images/monsters/tank-lite.gif') no-repeat 3px 8px;
}

table .tank-lite-2:after {
  background: url('../images/monsters/tank-lite-2.gif') no-repeat 3px 7px;
}

table .tank-mid:after {
  background: url('../images/monsters/tank-mid.gif') no-repeat 3px 7px;
}

table .tank-laser:after {
  background: url('../images/monsters/tank-laser.gif') no-repeat 3px 7px;
}

table .tank-heavy:after {
  background: url('../images/monsters/tank-heavy.gif') no-repeat 4px 6px;
}

table .mech-lite:after {
  background: url('../images/monsters/mech-lite.gif') no-repeat 3px 4px;
}

table .mech-mid:after {
  background: url('../images/monsters/mech-mid.gif') no-repeat 4px 6px;
}

table .turret:after, .menu .turret:before {
  background: transparent url('../images/towers/turret.gif') no-repeat;
}

table .rocket:after, .menu .rocket:before {
  background: transparent url('../images/towers/rocket.gif') no-repeat;
}

table .ultra:after, .menu .ultra:before {
  background: transparent url('../images/towers/ultra.gif') no-repeat;
}

table .level-1:before, table .level-2:before, table .level-3:before {
  content: 'I';
  display: block;
  position: absolute;
  font-weight: bold;
  font-family: Arial;
  font-size: 10px;
  color: yellow;
}
table .level-2:before {
  content: 'II';
}
table .level-3:before {
  content: 'III';
}

table .selected:before {
  content: '';
  height: 24px;
  width: 20px;
  display: block;
  border: 2px solid yellow;
}

.pop-up {
  background-color: rgba(10, 10, 10, 0.8);
  background-size: 16px 16px;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 5px;
  padding: 10px;
  box-shadow:  0 0 10px 0 rgba(0, 0, 0, 1);
  opacity: 0.95;
  color: white;
  font-size: 14px;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu li {
  color: white;
  line-height: 32px;
  height: 32px;
  vertical-align: top;
  cursor: pointer;
  white-space: nowrap;
}

.menu .nested {
  height: auto;
  line-height: 0;
  border-top: 1px dashed #888;
}

.menu > li {
  padding: 0 5px 0 10px;
}

.menu li ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu > li:not(.nested):hover {
  background: #151515;
  border-radius: 5px;
}

.menu li:not(.nested):before {
  content: '';
  display: inline-block;
  height: 32px;
  width: 24px;
  margin-left: 4px;
  position: relative;
  left: -10px;
  float: left;
}

.menu .upgrade:before {
  background: transparent url('../images/menu/upgrade.gif') center right no-repeat;
}
.menu .sell:before {
  background: transparent url('../images/menu/sell.gif') center right no-repeat;
}
.menu .stats-range:before {
  background: transparent url('../images/interface/range.gif') center right no-repeat;
  left: -12px !important;
}
.menu .stats-damage:before {
  background: transparent url('../images/interface/damage.gif') center right no-repeat;
  left: -18px !important;
}
.menu .stats-frequency:before {
  background: transparent url('../images/interface/frequency.gif') center right no-repeat;
  left: -20px !important;
}


.range {
  position: absolute;
  background: orange;
  border-radius: 50%;
  opacity: 0.5;
  border: 2px solid yellow;
}

.bullet {
  transition: all 0.25s linear;
  position: absolute;
  height: 5px;
  width: 5px;
  background: black;
  opacity: 0.9;
  border-radius: 50%;
}

.bullet.rocket {
  transition: all 0.5s linear;
}

ul.game-over {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.game-over li:first-child {
  font-size: 18px;
  border-bottom: 1px dashed #888;
}

ul.game-over li {
  line-height: 28px;
}

ul.game-over li:last-child {
  border-top: 1px dashed #888;
}

ul.game-over a {
  color: white;
  margin-top: 5px;
  display: block;
}
