table {
  border-collapse: collapse;
}

table td {
  height: 28px;
  width: 24px;
  padding: 0;
}

table .inaccessable {
  background: url('../images/surfaces/ice.gif');
}

table .path {
  background: url('../images/surfaces/path.gif') no-repeat;

}

table .monster {
  background: yellow url('../images/monsters/monster_5_32.png');
}

table .tower {
  background: url('../images/surfaces/ice.gif') no-repeat;
}

table .tower:after {
  content: '';
  height: 28px;
  width: 24px;
  display: block;
}

table .freezer:after {
  background: transparent url('../images/towers/freezer.gif') no-repeat;
}

table .laser:after {
  background: transparent url('../images/towers/laser.gif') no-repeat;
}

table .rocket:after {
  background: transparent url('../images/towers/rocket.gif') no-repeat;
}
