table {
  border: 1px solid black;
}

table td {
  height: 32px;
  width: 32px;
  border: 1px solid black;
}

table .inaccessable {
  background: #900;
}

table .path {
  background: yellow;
}

table .monster {
  background: yellow url('../images/monsters/monster_5_32.png');
}

table .tower {
  background: white url('../images/towers/factory.png') no-repeat;
}
