table {
  border-collapse: collapse;
  border: 1px solid black;
  box-shadow:  0 0 5px 0 rgba(0, 0, 0, 1);
}

#meta-data {
  background: black;
  box-shadow:  0 0 5px 0 rgba(0, 0, 0, 1);
  color: white;
  font-family: Arial;
  font-size: 12px;
  padding: 5px;
}

#meta-data span {
  padding: 0px 5px;
}

#meta-data span:not(:last-child) {
  border-right: 1px solid white;
}

table td {
  height: 28px;
  width: 24px;
  padding: 0;
  position: relative;
}

table .inaccessable, table .tower {
  background: url('../images/surfaces/ice.gif');
}

table .path, table .monster {
  background: url('../images/surfaces/path.gif') no-repeat;
}

table .tower:after, table .monster:after {
  content: '';
  height: 28px;
  width: 22px;
  display: block;
  position: absolute;
  top: -4px;
  left: -1px;

}

table .monster:after {
  background: url('../images/monsters/tank-lite.gif') no-repeat;
}

table .freezer:after {
  background: transparent url('../images/towers/freezer.gif') no-repeat;
}

table .laser:after {
  background: transparent url('../images/towers/laser.gif') no-repeat;
}

table .rocket:after {
  background: transparent url('../images/towers/rocket.gif') no-repeat;
}

table .level-1 {
  background: url('../images/surfaces/ice_level-1.gif');
}
table .level-2 {
  background: url('../images/surfaces/ice_level-2.gif');
}

table .selected:before {
  content: '';
  height: 24px;
  width: 20px;
  display: block;
  border: 2px solid yellow;
  position: absolute;
  top: 0px;
  left: -1px;
}

.menu {
  background: -webkit-radial-gradient(black 15%, transparent 16%) 0 0, -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px, -webkit-radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
  list-style-type: none;
  position: absolute;
  top: 20px;
  left: 50px;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
  box-shadow:  0 0 10px 0 rgba(0, 0, 0, 1);
  opacity: 0.95;
}

.menu li {
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 16px;
  color: white;
  line-height: 24px;
  height: 32px;
  vertical-align: top;
  cursor: pointer;
}
.menu li:hover {
  background: #151515;
  border-radius: 10px;
}
.menu li:before {
  content: '';
  display: inline-block;
  height: 32px;
  width: 24px;
  margin-left: 4px;
}
.menu li.laser:before {
  background: transparent url('../images/towers/laser.gif') center right no-repeat;
}
.menu li.rocket:before {
  background: transparent url('../images/towers/rocket.gif') center right no-repeat;
}
.menu li.freezer:before {
  background: transparent url('../images/towers/freezer.gif') center right no-repeat;
}
.menu li.upgrade:before {
  background: transparent url('../images/menu/upgrade.gif') center right no-repeat;
}
.menu li.sell:before {
  background: transparent url('../images/menu/sell.gif') center right no-repeat;
}

.range {
  position: absolute;
  background: orange;
  border-radius: 50%;
  opacity: 0.5;
  border: 2px solid yellow;
}

.bullet {
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  position: absolute;
  height: 5px;
  width: 5px;
  background: black;
  opacity: 0.9;
  border-radius: 50%;
}

.bullet.rocket {
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
}
